<section>

    <div class="container">
        <h1>What's inside?</h1>
        <p class="lead">bahn pulls together the best modern frameworks and technologies in an agnostic package that let's you choose what you need for your project.</p>

        <h2>HTML5 application framework</h2>
        <p>bahn pulls together three of the moderns web's most popular frameworks for HTML5 development: <a href="http://getbootstrap.com/">Bootstrap</a>, <a href="https://angularjs.org/">AngularJS</a>, and the <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a>.</p>

        <h2>HTTP application server</h2>
        <p><a href="http://expressjs.com/">Express</a> is the top HTTP application server for <a href="http://nodejs.org/">Node.js</a>.</p>
        <div class="panel panel-default">
            <div class="panel-body">
                <button class="btn btn-default" ng-click="getVersion()">/api/bahn/version</button>
                <span class="label label-default">{{version}}</span>
            </div>
        </div>

        <h2>NoSQL databse</h2>
        <p>bahn offers two options for a NoSQL database: <a href="https://github.com/louischatriot/nedb">NeDB</a> or <a href="http://www.mongodb.org/">MongoDB</a>. NeDB is suitable for small-scale databse needs (up to a couple of thousand queries per second). For large-scale deployments, use MongoDB.</p>
        <p>Want to hear the good news? NeDB uses a subset of MongoDB's API, so you can code for NeDB and if you need to scale up, just flick a switch and you're using MongoDB.</p>
        <div class="panel panel-default">
            <div class="panel-body">
                <button class="btn btn-default" ng-click="getVersion()">/api/bahn/version</button>
                <span class="label label-default">{{version}}</span>
            </div>
        </div>

        <h2>Real-time data sockets</h2>
        <p>We've bundled the wonderful <a href="http://socket.io/">Socket.io</a> with Express, allowing your bahn server to communicate in real-time with client applications.</p>
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group" ng-if="messageList.length > 0">
                    <li class="list-group-item" ng-repeat="message in messageList">
                        <span class="badge">{{message.time}}</span>
                        {{message.text}}
                    </li>
                </ul>
                <form>
                <div class="form-group">
                    <input type="text" placeholder="Enter your chat message here..." class="form-control" ng-model="message" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" ng-click="sendMessage()" ng-disabled="message.trim() == ''">Send</button>
                </div>
                </form>
            </div>
        </div>

        <h2>And it doesn't end there...</h2>
        <p>Because bahn is built on module and design agnostic compents, you can choose to ignore any part or add your own: new Node.js modules on the serverside or new JavaScript or CSS frameworks on the client.</p>

    </div><!-- /.container -->
    
</section>
